<div mat-dialog-content style="text-align: center; margin-top: 20px">
  <form [formGroup]="productForm" class="example-form">
    <h1 mat-dialog-title>Add Product</h1>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Product Name</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" formControlName="productName"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let opt of products" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> Product Onhand </mat-label>
      <input matInput type="email" formControlName="productOnHand" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label> Product Available </mat-label>
      <input matInput type="email" formControlName="productAvailable" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label> Product Outgoing </mat-label>
      <input matInput type="text" formControlName="productOutgoing" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label> Product Incoming </mat-label>
      <input matInput type="text" formControlName="productIncoming" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label> Product Cost Price </mat-label>
      <input matInput type="text" formControlName="productcostPrice" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label> Product Selling Price </mat-label>
      <input matInput type="text" formControlName="productSellingPrice" />
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="accent"
      type="submit"
      mat-dialog-close
      cdkFocusInitial
      (click)="this.addProduct()"
      style="margin-bottom: 2px"
      [disabled]="!productForm.valid"
    >
      Submit
    </button>
  </form>
</div>
